.math-captcha-form {
	display:block;
	float:none;
	clear:both;
}

.math-captcha-form  .mathalert{color:#c62828}

.login form .math-captcha-form span {
	display: inline-block;
	margin-bottom: 10px; 
}
input[type="text"].mc-input {
	display: inline-block;
	width: 60px!important;
	vertical-align: middle;
	margin-bottom: 0;
}
